.calc {
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    border-radius: 8px;
    background-color: darkslategrey;
    height: 50vh;
    width: 20vw;
    color: white;
}

#display {
    grid-column: 1 / -1;
    border-bottom: 0.1px solid white;
    margin-bottom: 10px;
}

#input, #output {
    /* margin: 5px 10px; */
}
#input {
    font-size: 10px;
    height: 1em;
    text-align: end;
    color: lightgrey;
}

#output {
    font-size: 20px;
    height: 1em;
    text-align: end;
}

.calc-button {
    padding: 5px 10px;
    background: none;
    border: none;
    border-radius: 10%;
    color: white;
}
.calc-button:hover {
    background-color: grey;
    opacity: 0.2;
}
